.AboveNav {
        background-color: $colour-dark;
        height: 26px;
        min-width: 700px;

    &__icons {
        display: inline-block;
        width: 1.3em;
        float: right;
        margin-top: 3px;
        padding: 2px;
        margin-right: 10px;
    }

    &__icons--envelope {
        margin-top: 5px;
        width: 1.4em;
    }
    
    &__icons--facebook { 
        width: 1.5em;
        background-color: $colour-blue;
        margin-top: 0;
           
    }
}

@media only screen and (max-width: 480px) {
    
.AboveNav {
    display: none;
    

    
  }
    
}