.Admin {
    
     
    &__heading {
        margin-bottom: -80px;
    }
    
    &__lists {
        margin-bottom: 100px;
     
    }
      
}

@media only screen and (max-width: 480px) {
    
.Admin {
       
    
    &__heading {
       text-align: center;
       
    }
    
  }
}