.Allenquiries {
       min-height: 600px;
       margin-top: 50px;

    &__header {
        text-align: center;
        padding: 16px;
        font-size: 21px;
    }

    &__item {
        border: 1px solid $colour-blue;
        border-radius: 10px;
        margin: 0 auto;
        min-width: 500px;
    }
    
    &__text {
        font-family: $font-primary;
        font-size: 14px;
        color: $colour-dark;
    }
    
    &__item hr { 
        border-color: $colour-blue;
        margin-bottom: 25px;   
    }
    
    &__jumbo { 
       min-height: 1000px;
        
    }
}

@media only screen and (max-width: 480px) {
    
.Allenquiries {
       margin-top: 100px;
    
    
  }
    
}