.Nav {
       background-color: $colour-light;
       min-width: 600px;

    &__link {
        color: $colour-dark;
        padding: 15px;
    }
    
    &__link:hover {
        color: $colour-headline;
        text-decoration: none;
        
    }

    &__toggle {
        border: none;
        color: $colour-dark;
        
    }


  
}

@media only screen and (max-width: 768px) {
   
.Nav {
      
   &__link {
        padding: 10px;
    }
  
    
  }
    
}
